# Clase 2
# Python for all
Vamos a ver un repaso de la clase anterior y a grabarnos bien esos conceptos iniciales de Python.
Con las bases listas, podemos seguir avanzando en el curso.

Nuevas Metodologías:
- Temas de Estudio
- Ejercicios de Repaso (2, 3, 6, 10)

La idea es que hoy veamos los siguientes temas:
- Introducción a la programación. (Repaso)
- Variables, expresiones, operadores. (Repaso)
  - Añadir modulo, exponente, divison entera
  - Añadir operadores logicos
- Tipos de datos y conversiones. (Repaso)
- Ejercicios (21, 32)
- Condicionales
- Ejercicios (32, 34, 35, 36)
- Contenedores
- Ejercicios (45, 60, 104)
- Ciclos

Temas de estudio:
- [Conversión de tipos](https://www.w3schools.com/python/python_casting.asp)
- [Strings](https://www.w3schools.com/python/python_strings.asp)
- Qué es Git?

In [1]:
# Vamos a hacer un repaso
a = 5 # Aquí estoy creando una variable - operación de asignación
b = a # Aquí estamos creando la variable b - Asignadole el valor de a
print(b)

5

In [2]:
x = "Libro"
y = 5.5
w = True
# Porque se ven verdes?
"""
Comentario multilinea
"""

print(type(x))
print(type(y))
print(type(w))

<class 'str'>
<class 'float'>
<class 'bool'>

In [3]:
Estatura = "178"
Peso = 70

print(Estatura + Peso)

TypeError: can only concatenate str (not "int") to str

In [4]:
print(Estatura)
print(Peso)
print(Estatura + Peso)

178
70

TypeError: can only concatenate str (not "int") to str

In [5]:
# int es la forma en la que convierto una variable a ENTERO
# Esto en ingles le dicen CASTING
# int
# str
# bool
# float
print(int(Estatura) + int(Peso))

248

In [6]:
print(int("178"))

178

In [7]:
print(float(5))

5.0

In [8]:
print(int(5.1))
print(int(5.9))

5
5

In [9]:
print(1000000000)

1000000000

In [10]:
print(bool(1)) # Este es verdadero
print(bool(0)) # Esto es falso

True
False

In [11]:
print(bool(2)) # Esto esta mal hecho, no se hace

True

In [12]:
print(str(178))

178

In [13]:
# operaciones
# Asignacion - Asignar un valor a una variable
# Aritmeticas
# Suma - Resta - Multiplicacion

edad = 29
cumplir = 43
print(edad + cumplir)
print(edad * cumplir)
print(cumplir - edad)
print(edad - cumplir)
print(type(edad - cumplir))

72
1247
14
-14
<class 'int'>

In [14]:
# Vamos a ver el resto de operaciones aritmeticas
print(cumplir / edad)
print(edad / cumplir) # Division normal
print(cumplir // edad) # Division Entera

1.4827586206896552
0.6744186046511628
1

In [15]:
print(2 ** 2) # Potenciacion
print(2 ** 3)
print(2 ** (1/2)) # raiz cuadrada
print(2 ** (1/3)) # raiz cubica

4
8
1.4142135623730951
1.2599210498948732

In [16]:
# operacion modulo
print(20 % 3) # El operador modulo es %
# Todo numero que cuando se haga la operacion modulo con 2
# y de 0 es PAR
# Todo numero que cuando se haga la operacion modulo con 2
# y de 1 es IMPAR

2

In [17]:
tiene_calor = True
vino_bici = True
tiene_mac = False
tiene_reloj = False


# operaciones booleanas
# AND, OR, NOT

print(tiene_calor and vino_bici)
print(tiene_mac and tiene_reloj)
# AND es una "multiplicacion"
# OR es una "suma"

# AND
# 1 * 1 = 1
# 1 * 0 = 0
# 0 * 1 = 0
# 0 * 0 = 0

# OR
# 1 + 1 = 1
# 1 + 0 = 1
# 0 + 1 = 1
# 0 + 0 = 0

True
False

In [18]:
print(not(tiene_mac)) # operador negacion
print(not(tiene_calor))

True
False

In [19]:
print(
    5 + 10,
    "Libro",
    "W",
    5 // 2
)
a = 5
print(5 + 10, "Libro", "W", 5 // 2)

15 Libro W 2
15 Libro W 2

In [20]:
print("Libro")

Libro

In [21]:
print(5 + (15 * (3 % 2)))

20

In [22]:
"""
Exercise 21: Area of a Triangle
(13 Lines) The area of a triangle can be computed using the following formula, where b is the
length of the base of the triangle, and h is its height: area = b × h
2
Write a program that allows the user to enter values for b and h. The program should
then compute and display the area of a triangle with base length b and height h.
"""
# \n Significa salto de linea
base = input("Cual es la base del triangulo? ")
altura = input("Cual es la altura del triangulo? ")
print("Base del triangulo: \n", base)
print("Altura del triangulo: \n", altura)
base_float = float(base)
altura_float = float(altura)

print("Tipo de dato de la base:", type(base_float))
print("Tipo de dato de la altura:", type(altura_float))
area = (base_float * altura_float) / 2
print("Area del triangulo: ", area)

Cual es la base del triangulo? 5
Cual es la altura del triangulo? 2
Base del triangulo:
 5
Altura del triangulo:
 2
Tipo de dato de la base: <class 'float'>
Tipo de dato de la altura: <class 'float'>
Area del triangulo:  5.0

In [23]:
base = float(input("Cual es la base del triangulo? "))
altura = float(input("Cual es la altura del triangulo? "))
print("Base del triangulo: \n", base)
print("Altura del triangulo: \n", altura)

print("Tipo de dato de la base:", type(base))
print("Tipo de dato de la altura:", type(altura))
print("Area del triangulo:", (base * altura) / 2)

Cual es la base del triangulo? 5
Cual es la altura del triangulo? 2
Base del triangulo:
 5.0
Altura del triangulo:
 2.0
Tipo de dato de la base: <class 'float'>
Tipo de dato de la altura: <class 'float'>
Area del triangulo: 5.0

In [ ]:
# Palabras reservadas
# print = 5
# print, input, int, float, str, bool, def ,for, while, if, pass, and, or, not, else
# Estas palabras estan reservadas por python para cosas de python
# y si las sobreescribo, debo reiniciar mi sesion

In [26]:
print(a)

5

In [ ]:
"""
Exercise 32: Sum of the Digits in an Integer
(18 Lines) Develop a program that reads a four-digit integer from the user and
displays the sum of its digits. For example, if the user enters 3141 then your
program should display
3+1+4+1=9.
"""

In [33]:
# Comillas
# Yo en python puedo utilizar comillas dobles y comillas simples
# PERO NO las dos
libro = "harry potter"
libro_2 = 'señor de los anillos'
print(libro)
print(libro_2)

texto_con_comillas = "A mi amigo le dicen don 'Quijote'"
print(texto_con_comillas)

texto_con_otras_comillas = 'A mi amigo le dicen "casanova"'
print(texto_con_otras_comillas)

# Porque no puedo utilizar las mismas
# texto_de_prueba = "A mi amigo le dicen don "quijote""

harry potter
señor de los anillos
A mi amigo le dicen don 'Quijote'
A mi amigo le dicen "casanova"

In [47]:
# Nuevo tipo de dato
# manzana, pera, piña
# a, b, c
# 20, 30, 25, 35, 27, 30
# 5, 5, 5, 5, 5, 5
# verde, azul

# LISTAS - Arreglo
# Python lo llama list
# Asi como las Strings se llaman str
# Y asi como los Integers se llaman int
# Las Lists se llaman list

# Las listas tienen dos propiedades
# Su nombre, y sus elementos

# INDEXACION

frutas = ["manzana", "pera", "piña"]
letras_del_abecedario = ["a", "b", "c"]
variables_a_usar_en_clima = ["caliente", 23.2, 1.1, True]

print(type(frutas))
print(frutas)
# Como se extrae un elemento de una lista
# Debo
# 1. Llamar la lista
# 2. Abrir y cerrar corchetes
# 3. Poner el indice del elemento que quiero extraer
print("-----------------")
print("Elementos de mi lista")
print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[-1]) # otra forma de extraer el elemento de la lista es con el indice
# Para saber cuantos elementos tengo en mi lista, debo usar
# LEN - que es la abreviacion de length que es longitud
print(len(frutas))
# Para añadir un nuevo elemento a mi lista, hay dos formas
# Forma numero 1 de añadir - APPEND
# 1. Llamar la lista
# 2. Poner PUNTO append
# 3. Entre parentesis poner el elemento que voy a añadir
frutas.append("fresa")
print(frutas)
print(len(frutas))
# Forma numero 2 de añadir - INSERT
# 1. Llamar la lista
# 2. Poner PUNTO insert
# 3. entre parentesis poner, primero posicion, despues el elemento
frutas.insert(1, "mora")
print(frutas)

<class 'list'>
['manzana', 'pera', 'piña']
-----------------
Elementos de mi lista
manzana
pera
piña
piña
3
['manzana', 'pera', 'piña', 'fresa']
4
['manzana', 'mora', 'pera', 'piña', 'fresa']

In [53]:
print(frutas[0])
primera_fruta = frutas[0]
print(list(primera_fruta))
print(type(list(primera_fruta)))

manzana
['m', 'a', 'n', 'z', 'a', 'n', 'a']
<class 'list'>

In [54]:
print(type(frutas[1]))

<class 'str'>

In [63]:
numero_ejercicio_32 = input("Ingresa un numero de 4 digitos: ")
lista_del_numero = list(numero_ejercicio_32)

primer_numero = int(lista_del_numero[0])
segundo_numero = int(lista_del_numero[1])
tercer_numero = int(lista_del_numero[2])
cuarto_numero = int(lista_del_numero[3])

suma_del_numero = primer_numero + segundo_numero + tercer_numero + cuarto_numero
print(suma_del_numero)

Ingresa un numero de 4 digitos: 3141
9

In [61]:
list("3141.0")

['3', '1', '4', '1', '.', '0']